  <div class="calendar">
    <%= form_with(model: @blog, local: true) do |form| %>
      <div class="taitoru">
        <div class="form-tag">タイトル</div>
        <%= form.text_field :title %>
      </div>

      <div class="naiyou">
        <div class="form-tag">内容</div>
        <%= form.text_field :content %>
      </div>

      <div class="time">
        <div class="form-tag">時間</div>
        <%= form.datetime_select :start_time %>
      </div>

      <div class="submit">
        <%= form.submit "編集",class:"nice_btn" %>
      </div>
    <% end %>
  </div>