 <!----他のページでタイトルと内容にcssを当てているので----->
 <!--(タイトル = taitoru) & (内容 = naiyouとしています。)-->
 <!--------このページはbootstrapを主に使用しています------->
  <div class="calendar">
  <h1 class="calendar-top">カレンダー</h1>
  <br>
  <h5 class="mt-2">ログイン:<span class="text-info"><%= current_user.last_name %></span>様</h5>
    <div class="row">
      <div class="col-md-4">

      <% if @blog.errors.any? %>
        <% @blog.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>

      <%= form_with(model: @blog, local: true) do |form| %>
        <div class="taitoru">
          <div class="form-tag mt-5">タイトル</div>
          <%= form.text_field :title, placeholder: "1~15文字" %>
        </div>

        <div class="naiyou">
          <div class="form-tag">内容</div>
          <%= form.text_area :content, size: '30x10', placeholder: "1~200文字" %>
        </div>

        <div class="time">
          <div class="form-tag">時間</div>
          <%= form.datetime_select :start_time %>
        </div>
        <div class="submit">
          <p class="text-change">スケジュールを投稿しますか？</p>
          <%= form.submit "投稿する" %>
        </div>
      <% end %>
      </div>

      <br>

      <div class="col-md-8 mb-5 ">
        <div class="bg-dark text-white mb-5">今後の予定一覧</div>
        <%= month_calendar events: @blogs do |date, blogs| %>
          <%= date.day %>

          <% blogs.each do |blog| %>
            <div>
                <%= link_to blog.title,blog_path(blog.id) %>
            </div>
          <% end %>
        <% end %>
      </table>
      </div>
    </div>
  </div>
