  <!--このページはbootstrapを主に使用しています-->
  <div class="calendar">
    <div class="show">
      <div class="blog-page-text-back">
        <h3 class="text-success pt-3">タイトル</h3></br>
        <h4 class="text-white"><%= @blog.title %></h4>

        <h3 class="text-success pt-3">内容</h3></br>
        <h4 class="text-white"><%= @blog.content %></h4>

        <h3 class="text-success pt-3">予定日</h3></br>
        <h4 class="text-white"><%= @blog.start_time.strftime("%m-%d") %></h4>

        <h3 class="text-success pt-3">予定時間</h3></br>
        <h4 class="text-white"><%= @blog.start_time.strftime("%H:%M") %></h4>

        <h3 class="text-success pt-3">予定を作成した日</h3></br>
        <h4 class="text-white"><%= @blog.created_at.strftime('%Y/%m/%d') %></h4>

        <h3 class="text-success pt-3">予定を作成した時間</h3></br>
        <h4 class="text-white"><%= @blog.created_at.strftime('%H:%M') %></h4>
      </div>
      <p>
        <h3 class="text-info">終了した予定は削除しましょう</h3>
      </p>

      <%= link_to '編集', edit_blog_path(@blog), class: "btn btn-primary m-4" %>
      <%= link_to '消去',blog_path(@blog.id), class: "btn btn-danger m-4", method: :delete, data: { confirm: '本当に削除しますか?（失われたデータは元には戻りません）' } %>
      <%= link_to '戻る', blogs_path, class: "btn btn-dark m-4" %>
    </div>
  </div>