  <div class="cut_page_zone">
    <div class="edit">
    <%= form_with(model: @cut, local: true) do |form| %>
      <div class="daimei">
        <h3 class="skill_column_title_detail_evaluation pt-3">タイトル</h3></br>
        <%= form.text_field :title %>
      </div>
      <div class="detail">
        <h3 class="skill_column_title_detail_evaluation pt-3">詳細</h3></br>
        <%= form.text_field :detail %>
      </div>

      <div class="evaluation">
        <h3 class="skill_column_title_detail_evaluation pt-3">評価</h3>
        <%= form.number_field :evaluation %>
      </div>

      <div class="submit">
        <%= form.submit "編集", class:"nice_btn" %>
        <% end %>
        <%= link_to '戻る', cuts_path, class: "btn btn-dark m-4" %>
      </div>
    </div>
  </div>