  <!------このページはbootstrapを主に使用しています-------->
  <div class="cut_page_zone">
    <div class="index">
      <h1 class="cut">カット</h1>
      <br>
      <div class="row">
        <div class="col-md-4 skill_form_text">

          <% if @cut.errors.any? %>
            <% @cut.errors.full_messages.each do |message| %>
              <%= message %>
            <% end %>
          <% end %>

           <div class="touko">
             <%= form_with(model: @cut, local: true) do |form| %>
              <div class="title">
                <div class="form-tag">タイトル</div>
                <%= form.text_field :title, placeholder: "1~20文字", class: "form-control cut_form" %>
              </div>

              <div class="detail">
                <div class="form-tag">詳細</div>
                <%= form.text_area :detail, size: '30x10', placeholder: "1~500文字", class: "form-control cut_form" %>
              </div>

              <div>
                <div class="form-tag">自己評価点数</div>
                <%= form.number_field :evaluation, placeholder: "数字入力", class: "cut_form" %>
              </div>
            <p>
              <div class="picture">
                <div class="form-tag">写真</div>
                <%= form.attachment_field :cut_image %>
              </div>
            </p>
              <div class="submit">
                <%= form.submit %>
              </div>
            <% end %>
          </div>
        </div>
        <br>

        <div class="col-md-8">
          <div class="cut_index">カットテーブル</div>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>タイトル</th>
                  <th>投稿日時</th>
                </tr>
              </thead>
              <tbody>
                <% @cuts.each do |cut| %>
                  <tr class="text-warning bg-white">
                    <td><%= link_to cut.title,cut_path(cut.id) %></td>
                    <td><%= cut.created_at.strftime('%Y/%m/%d %H:%M') %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <div class="ml-5"><%= paginate @cuts %></div>
        </div>
      </div>
    </div>
  </div>