  <!--このページはbootstrapを主に使用しています------------>

  <div class="perm_page_zone">
    <div class="index">
      <h1 class="perm">パーマ</h1>
      <br>
      <div class="skill_zone_row">
        <div class="col-md-4 skill_form_text">

          <% if @perm.errors.any? %>
            <% @perm.errors.full_messages.each do |message| %>
              <%= message %>
            <% end %>
          <% end %>

          <div class="touko">
            <%= form_with(model: @perm, local: true) do |form| %>
              <div class="title">
                <div class="form-tag">タイトル</div>
                <%= form.text_field :title, placeholder: "1~20文字", class: "form-control perm_form" %>
              </div>

              <div class="detail">
                <div class="form-tag">詳細</div>
                <%= form.text_area :detail, size: '30x10', placeholder: "1~500文字", class: "form-control perm_form" %>
              </div>

              <div>
                <div class="form-tag">自己評価点数</div>
                <%= form.number_field :evaluation, placeholder: "数字入力", class: "perm_form" %>
              </div>
            <p>
              <div class="detail">
                <div class="form-tag">写真</div>
                <%= form.attachment_field :perm_image %>
              </div>
            </p>
              <div class="submit">
                <%= form.submit %>
              </div>
            <% end %>
          </div>
        </div>

        <br>

        <div class="col-md-8">
          <div class="perm_index">パーマテーブル</div>
          <!--検索--->
        <div class="kensaku">
          <%= form_tag(perms_path,:method => "get") do %>
          <%= text_field_tag :search %>
          <%= submit_tag "Search" ,:title => nil,class: "button is-info"%>
          <% end %>
          <% @perms %>
          <%= link_to '戻す', perms_path, class: "btn btn-dark ml-1" %>
        </div>
          <div class="ml-5"><%= paginate @perms %></div>
            <table class="table ml-2">
              <thead class="thead-dark">
                <tr>
                  <th>タイトル</th>
                  <th>投稿日時</th>
                </tr>
              </thead>
              <tbody>
                <% @perms.each do |perm| %>
                  <tr class="text-warning bg-white">
                      <td><%= link_to perm.title,perm_path(perm.id) %></td>
                      <td><%= perm.created_at.strftime('%Y/%m/%d %H:%M') %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <div class="ml-5"><%= paginate @perms %></div>
        </div>
      </div>
    </div>
  </div>