<%= @contact.name %> 様 から問い合わせがありました。<br>
<h4 class="text-success"><%= @contact.phone_number %></h4><br>
<h4 class="text-success"><%= @contact.email %></h4><br>

<p>
  <h4 class="text-success"><%= @contact %></h4>
</p>
<span style="white-space: pre-wrap;"><%= @contact.message %></span>
