  <!--このページはbootstrapを主に使用しています-->
  <div class="color_page_zone">
    <div class="color_page_text_back text-center">
        <h3 class="text-success pt-3">タイトル</h3></br>
        <h3 class="skill_record_title_detail_evaluation"><%= @color.title %></h4>
        <h3 class="text-success pt-3">詳細</h4><br>
        <h5 class="skill_record_title_detail_evaluation"><%= @color.detail %></h5>
        <h3 class="text-success pt-3">評価</h3>
        <h5 class="skill_record_title_detail_evaluation"><%= @color.evaluation %></h5>
        <br>
      </div>
      <%=link_to Refile.attachment_url(@color, :color_image), "data-lightbox" => @color.id do %>
        <%= attachment_image_tag @color, :color_image , class: 'd-block mx-auto cut-img mt-4' %>
      <% end %>
      <div class="skill_edit_delete_back">
      <%= link_to '編集', edit_color_path(@color), class: "btn btn-primary m-4" %>
      <%= link_to '消去',color_path(@color.id), class: "btn btn-danger m-4", method: :delete, data: { confirm: '本当に削除しますか?（失われたデータは元には戻りません）' } %>
      <%= link_to '戻る', colors_path, class: "btn btn-dark m-4" %>
      </div>
    </div>
  </div>