<div class="p_user_zone">
  <h2 class="midashi_n">Log in</h2>
  <div class= "post_profile">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "yamada2tr@gmail.com", class: "post_zone" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "英数字含む8桁のパスワード", class: "post_zone" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

        <div class="actions">
          <%= f.submit "Log in", class:"nice_btn" %>
        </div>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>