<!DOCTYPE html>
<html>
  <head>
    <title>HairSkill</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>

  <body>

      <div class="header">
        <%= link_to root_path do %>
          <span class="header_logo"><h1 class="theme_title">HairSkill</h1></span>
        <% end %>

        <nav class="header_nav">
          <ul>
            <!--↓もしログインしていたら-->
            <% if user_signed_in? %>
              <li class="">
                <%= link_to skill_path, class:"h-seni" do %>
                  <span>技術</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to information_path, class:"h-seni" do %>
                  <span>情報</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to blogs_path, class:"h-seni" do %>
                  <span>カレンダー</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to contact_about_path, class:"h-seni" do %>
                  <span>連絡</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to edit_user_registration_path, class:"h-seni" do %>
                  <span>変更</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to destroy_user_session_path, method: :delete, class:"h-seni" do %>
                  <span>退出</span>
                <% end %>
              </li>
            <!--↓もしログインしていなかったら-->
            <% else %>
              <li class="">
                <%= link_to new_user_registration_path, class:"h-seni" do %>
                  <span>新規登録</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to new_user_session_path, class:"h-seni" do %>
                  <span>参加</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to new_user_password_path, class:"h-seni" do %>
                  <span>パスワード変更</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to contact_about_path, class:"h-seni" do %>
                  <span>連絡</span>
                <% end %>
              </li>
              <% end %>
            </ul>
        </nav>
      </div>
    <% if flash[:notice] %>
      <div class="good">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <%= yield %>
    <div class=footer>
      <nav class="footer_nav">
          <ul>
            <!--スマホの時ナビをfooterに表示-->
            <!--↓もしログインしていたら-->
            <% if user_signed_in? %>

              <li class="">
                <%= link_to skill_path, class:"f-seni" do %>
                  <span class="fas fa-seedling" style="display: block;"></span>
                  <span class="hurigana">技術</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to information_path, class:"f-seni" do %>
                  <span class="fas fa-info-circle" style="display: block;"></span>
                  <span class="hurigana">情報</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to blogs_path, class:"f-seni" do %>
                  <span class="fas fa-calendar-alt" style="display: block;"></span>
                  <span class="hurigana">日程</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to contact_about_path, class:"f-seni" do %>
                  <span class="far fa-envelope" style="display: block;"></span>
                  <span class="hurigana">連絡</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to edit_user_registration_path, class:"f-seni" do %>
                  <span class="fas fa-user-cog" style="display: block;"></span>
                  <span class="hurigana">変更</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to destroy_user_session_path, method: :delete, class:"f-seni" do %>
                  <span class="fas fa-sign-out-alt" style="display: block;"></span>
                  <span class="hurigana">退出</span>
                <% end %>
              </li>
            <!--↓もしログインしていなかったら-->
            <% else %>
              <li class="">
                <%= link_to new_user_registration_path, class:"f-seni" do %>
                  <span class="fas fa-user-shield" style="display: block;"></span>
                  <span class="hurigana">新規</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to new_user_session_path, class:"f-seni" do %>
                  <span class="fas fa-sign-in-alt" style="display: block;"></span>
                  <span class="hurigana">参加</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to new_user_password_path, class:"f-seni" do %>
                  <span class="fas fa-user-edit" style="display: block;"></span>
                  <span class="hurigana">変更</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to contact_about_path, class:"f-seni" do %>
                  <span class="far fa-envelope" style="display: block;"></span>
                  <span class="hurigana">連絡</span>
                <% end %>
              </li>
              <% end %>
            </ul>
        </nav>
    </div>

  </body>
</html>
